html {
    background: #fff;
    min-width: 563px;
}

.container {
    padding: 0;
}

h1, h2, h3, h4, p, a, div{
    font-family: '微軟正黑體';
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

hr {
    color:#d7ac41;
    width: 62px;
    border: solid 1px;
    margin-top: 100px;
    margin-bottom: 25px;
}

h2 {
    font-size: 50px;
    font-weight: 600;
    color: #4a494b;
    margin-bottom: 40px;
    text-align: center;
    padding: 7.5px 0;
}

nav {
    width: 100%;
    height: 130px;
    background: #fff;
}

nav > .container-fluid {
    padding-left: 60px;
    padding-right: 70px;
    padding-top: 30px;
}

/*
.navbar-header::before {
    display: none;
}
*/

nav img {
    width: 443px;
    height: 80px;
}

.navbar-text {
    margin-top: 20px;
    margin-left: -15px;
}

.navbar-text > li > a {
    font-size: 14px;
    color:#6c6c6c;
}

.navbar-text > li > a:hover, a:active {
    color: #d7ac41;
    background: none;
}

/*
nav button.navbar-toggle {
    position: fixed;
    right: 15px;
    top: 50px;
}

.navbar-toggle > .icon-bar {
    background:#000;
}
*/


@media (max-width: 976px){
    nav > .container-fluid {
        width: 443px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }
    .navbar-collapse {
        position: fixed;
        right: 30px;
        top: 110px;
        padding-top: 20px;
    }

    .navbar-collapse li {
        height: 40px;
        background: rgba(255,255,255,0.8);
        margin-left: 10px;
        margin-top: 10px;
        float: none;
    }

    .navbar-collapse a {
        padding: 0;
    }

    .navbar-toggle {
        display: block;
    }
}

header {
    background: url(../img/top-banner.jpg);
    padding-bottom: 285px;
    background-size: cover;
    margin-top: 130px;
}

header > img {
    width: 100%;
}

.header_text {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
header h1 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 10px;
    padding-top: 335px;
    margin-bottom: 40px;
}

header p {
    font-size: 24px;
}

.about {
    background: url(../img/about-bg.jpg);
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.about > .container {
    width: 56.25%;
}

.about img {
    padding-bottom: 40px;
    width: 120px;
    height: 160px;
}

.about p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.62;
    color: #fff;
}

.about .br {
    height: 24.5px;
}

.about hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.about p > span {
    font-size: 24px;
    font-weight: 600;
}

.about_text {
    /*width: 770px;*/
    margin: 0 auto;
    text-align: left;
}

.service {
    background: url(../img/service-bg.jpg);
    background-size: cover;
    padding-bottom: 100px;
    text-align: center;
}

.service .row {
    padding: 0;
    margin: 0;
    margin-top: -30px;
    margin-left: -30px;
}

.service .row > li {
    width: 270px;
    height: 60px;
    font-size: 16px;
    color: #6c6c6c;
    background: rgba(255, 255, 255, 0.7);
    padding: 22px 0;
    margin-left: 30px;
    margin-top: 30px;
    font-family: '微軟正黑體';
}

@media (max-width: 1240px) and (min-width: 976px){
    .service > .container {
        width: 900px;
    }
}

@media (max-width: 976px) and (min-width: 768px){
    .service > .container {
        width: 600px;
    }
}

@media (max-width: 768px){
    .service > .container {
        width: 300px;
    }
}

.member {
    padding-bottom: 100px;
}

.member_img > img {
    width: 270px;
    height: 400px;;
}

.member_people > .member_text {
    width: 300px;
    height: 400px;
    background: rgb(246,244,242);
    padding-left: 30px;
}

.member_text > h3 {
    margin-top: 60px;
    font-size: 50px;
    font-weight: 600;
}

.member_text > h4 {
    font-size: 16px;
    font-weight: 300;
    margin-top: 18px;
}

.member_text > div > p {
    font-size: 16px;
}

.member_text > .introduction {
    margin-top: 16px;
}

.member_text > .email {
    margin-top: 20px;
}

.member_space {
    width: 30px;
    height: 400px;
}

.member > .clear {
    width: 270px;
    height: 60px;
}

.member > .box {
    text-align: center;
    background: #fff;
    width: 270px;
    height: 60px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 16px;
    border: solid 1px #d7ac41;
    color:#d7ac41;
}

.contact {
    background: url(../img/footer-bg.jpg);
    background-size: cover;
    padding-bottom: 100px;
}

.contact hr {
    margin-left: 0;
}

.contact .sub_left {
    margin-right: 110px;
    height: 110px;
}

.contact .container > div > h4 {
    margin-right: 18px;
}

.contact .container > div > p {
    font-size: 16px;
    margin-top: -2px;
}

.contact .container .br {
    width: 10px;
    height: 20px;
}

.contact .container .sub_right {
    width: 400px;
}

footer {
    height: 48px;
    background: #2b2b2c;
}

footer > p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 12px 0;
}

.clear {
    clear: both;
    display: block;
}

@media (max-width: 1200px){
    .member_space {
        display: none;
    }
    .member > .container {
        width: 570px;
    }

    .contact > .container{
        width: 200px;
    }
    .contact > .container > hr, h2, div{
        margin-left: auto;
    }
}